
           <h3>Fremgangsmåte</h3>

           <ul class="list-group">
            {% for index,step in steps %}
               <li class="list-group-item">
                   <span class="label label-primary">{{ index }}</span>
                    {% if user.id == recipe.owner.id %}

                    <span class="glyphicon glyphicon-menu-up step-move-up" aria-hidden="true" data-id="{{ step.id }}"> </span>
                    <span class="glyphicon glyphicon-menu-down step-move-down" aria-hidden="true" data-id="{{ step.id }}"> </span>

                    <span class="badge remove-button remove-step-button" data-id="{{ step.id }}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true">
                        </span>
                    </span>
                    {% endif %}
                    <div class="clearfix">
                        {% if step.image %}
                          <img src="{{ step.image.url }}" class="img-thumbnail img-responsive pull-right" width="40%" />
                        {% endif %}
                        {{ step.desc }}
                    </div>
               </li>
            {% empty %}
                {% if user.id == recipe.owner.id %}
                <li class="list-group-item">Legg til fremgangsmåten, {{ user.first_name }}!</li>
                {% else %}
                <li class="list-group-item">Hupps, noen har glemt å legge til stegene.</li>
                {% endif %}

            {% endfor %}
           </ul>


            {% if error %}
            <div class="alert alert-warning">
                  <strong>Feil!</strong> {{ error }}
            </div>
            {% endif %}

            {% if user.id == recipe.owner.id %}
            <form id="step-form" enctype="multipart/form-data">
                <div class="row form-group">
                    <div class="col-xs-8">
                        <textarea name="step-desc" id="step-desc" class="form-control" rows=3 placeholder="Bland sammen alt det tørre og…"></textarea>
                    </div>
                    <div class="col-xs-4">
                        <label class="btn btn-default btn-file" id="add-step-image-button">
                            <span id='step-image-upload-text'>Last opp bilde</span><input id="step-image" name="step-image" type="file" style="display: none;"/>
                        </label>
                        <button id="add-step-button" type="button" class="form-control btn btn-success">Legg til</button>
                    </div>
                </div>
            </form>
            {% endif %}
