{% extends 'base.html' %}
{% load static %}


{% block content %}
  <link href="{% static 'css/recipe-styles.css' %}" type="text/css" rel="stylesheet">

  <h1 class="page-header">
      <td>{{ recipe.title }} <small>{{ recipe.sub_recipes_caption }}</small></td>
  </h1>

  <div id="recipe-container" class="container">
  {% csrf_token %}

    <div class="row">
        <div class="col-sm-6">
            <div class="row btn-group">
                <div id="recipe-buttons" class="col-sm-12">
                    <a href="{% url 'edit-recipe' recipe_id=recipe.id %}">
                        <button type="button" class="btn btn-primary js-create-recipe">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Endre
                        </button>
                    </a>
                    <a href="{% url 'create_recipe' %}">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Send til epost
                        </button>
                    </a>
                    {% if user.id == recipe.owner.id %}
                    <a href="{% url 'delete-recipe' recipe_id=recipe.id %}">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                            Slett
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
          <div id="recipe-image">
              {% if recipe.image %}
                <img src="{{ recipe.image.url }}" class="img-thumbnail img-responsive" />
              {% else %}
                 <a href="{% url 'edit-recipe' recipe_id=recipe.id %}">
                 <img src="http://via.placeholder.com/600x400?text=Last opp et bilde" class="img-thumbnail img-responsive" />
                 </a>
              {% endif %}
          </div>
          <div id="recipe-info">
            <div class="row form-group">
                <div class="col-xs-6">
                    <button disabled  type="button" class="btn btn-primary js-create-recipe">
                        Av {{ recipe.owner.get_full_name }}
                    </button>
                </div>
                <div class="col-xs-6">
                    <button disabled  type="button" class="btn btn-primary js-create-recipe">
                        {{ recipe.get_level_display }}
                    </button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                        <input type="text" readonly class="form-control" value="{{ recipe.duration }} min" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input-group">
                        <span class="input-group-addon" id=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <!--<input type="number" class="form-control" id="people" value="{{ recipe.people }}" aria-describedby="basic-addon1">-->
                        <select class="form-control"  id="people">
                            {% for number in people %}
                                {% if number == recipe.people %}
                                    <option selected>{{ number }}</option>
                                {% else %}
                                    <option>{{ number }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div id="recipe-desc">
                {{ recipe.desc }}
            </div>
          </div>
      </div>
  
      <div class="col-sm-6">
          <div id="recipe-ingredients">
              {{ div.ingredients }}
          </div>
          <div id="recipe-steps">
              {{ div.steps }}
          </div>
          <!--<div id="recipe-subrecipe">
            <h3>Underoppskrifter</h3>
            <div class="list-group">
                <a href="#" class="list-group-item">Superdigg salsa <span class="badge">10 min</span></a>
                <a href="#" class="list-group-item">Salat<span class="badge">5 min</span></a>
            </div>
            <div class="row form-group">
                <div class="col-xs-8">
                    <input type="text" class="form-control" placeholder="Texmex-salat">
                </div>
                <div class="col-xs-4">
                    <button type="button" class="form-control btn btn-success">Legg til</button>
                </div>
            </div>
            </div>-->
      </div>
    </div> 
  </div>
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Lukk</span></button>
            <h4 class="modal-title" id="myModalLabel">Bedre oppløsning!</h4>
          </div>
          <div class="modal-body">
            <img class="img-responsive" src="" id="imagepreview" style="" >
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
          </div>
        </div>
      </div>
    </div>
  <script src="{% static 'js/recipe.js' %}"></script>



{% endblock %}
