            <h3>Ingredienser</h3>
            <ul class="list-group">
            {% for ingredient in ingredients %}
            <li class="list-group-item">
                <input type="checkbox" class="ingredient-checkbox">
                {{ ingredient.amount_formatted }} {{ ingredient.title }}
                {% if user.id == recipe.owner.id %}
                <span class="badge remove-button remove-ingredient-button" data-id="{{ ingredient.id }}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                    </span>
                </span>
                {% endif %}
            </li>
            {% empty %}
            <li class="list-group-item">Her mangler det litt…</li>
            {% endfor %}
            </ul>
            {% if user.id == recipe.owner.id %}
            <div class="row form-group">
                <div class="col-xs-3">
                    <input type="number" name="amount" id="ingredient-amount" class="form-control" placeholder="2.5">
                </div>
                <div class="col-xs-6">
                    <input type="text" name="title" id="ingredient-title" class="form-control" placeholder="dl melk">
                </div>
                <div class="col-xs-3">
                    <button type="button" id='add-ingredient-button' class="form-control btn btn-success">Legg til</button>
                </div>
            </div>
            {% endif %}
