{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1 class="page-header">Oppskrifter</h1>

  <div class="row" id="recipe-navbar">
      <div class="col-xs-4 col-lg-6">
          <a href="{% url 'create_recipe' %}">
              <button type="button" class="btn btn-primary js-create-recipe">
                  <span class="glyphicon glyphicon-plus"></span>
                  Ny oppskrift
              </button>
          </a>
      </div>
      <div class="col-xs-8 col-lg-6">
          <form id="search-form" method="GET" action="">
              <div class="input-group">
                  <input type="text" name="query" class="form-control" value="{{ query }}" placeholder="Søk for..." autofocus>
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">Søk!</button>
                  </span>
              </div><!-- /input-group -->
          </form>
      </div>
  </div><!-- /row -->
    <br>
  <div class="table-responsive">
      <table class="table" id="recipe-table">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Tid</th>
                  <th>Porsjoner</th>
                  <th>Vanskelighetsgrad</th>
                  <th>Av</th>
              </tr>
          </thead>
          <tbody>
              {% for recipe in recipes %}
              <tr>
                  <td><a href="{% url 'recipe' recipe_id=recipe.id %}">{{ recipe.title }}</a></td>
                  <td>{{ recipe.duration }} min</td>
                  <td>{{ recipe.people }} stk</td>
                  <td>{{ recipe.get_level_display }}</td>
                  <td>{{ recipe.owner.get_full_name }}</td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="7" class="text-center bg-warning">Ingen oppskrifter</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
   </div>


       <nav aria-label="paginator">
           <ul class="pager">
           {% if recipes.has_previous %}
           <li class="previous"><a href="?page={{ recipes.previous_page_number }}"><span aria-hidden="true">&larr;</span> Tilbake</a></li>
           {% endif %}

           <span class="current">
               Side {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
           </span>

           {% if recipes.has_next %}
           <li class="next"><a href="?page={{ recipes.next_page_number }}">Neste side<span aria-hidden="true">&rarr;</span></a></li>
           {% endif %}
           </ul>
       </nav>

{% endblock %}
