{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">
      <td>{{ recipe.title }}</td>
  </h1>

  <p>
  <div class="btn-group">
  <a href="{% url 'create_recipe' %}">
    <button type="button" class="btn btn-primary js-create-recipe">
      <span class="glyphicon glyphicon-pencil"></span>
      Endre
    </button>
  </a>
  <a href="{% url 'create_recipe' %}">
    <button type="button" class="btn btn-warning">
      <span class="glyphicon glyphicon-envelope"></span>
      Send til epost
    </button>
  </a>
  <a href="{% url 'create_recipe' %}">
    <button type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash"></span>
      Slett
    </button>
  </a>
  </div>
  </p>


  <div class="modal fade" id="modal-recipe">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
{% endblock %}
