            <h3>Ingredienser <small><span id="show-ingredients-plain-text" class="glyphicon glyphicon-copy"></span></small></h3>
            <ul class="list-group">
            {% for ingredient in ingredients %}
            <li class="list-group-item">
                <input type="checkbox" class="ingredient-checkbox">
                <span class="amount">{{ ingredient.amount_formatted }}</span> {{ ingredient.title }}
                {% if user.id == recipe.owner.id %}
                <span class="badge remove-button remove-ingredient-button" data-id="{{ ingredient.id }}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                    </span>
                </span>
                {% endif %}
            </li>
            {% empty %}
            <li class="list-group-item">Her mangler det litt…</li>
            {% endfor %}
            </ul>


            {% if error %}
            <div class="alert alert-warning">
                  <strong>Feil!</strong> {{ error }}
            </div>
            {% endif %}


            {% if user.id == recipe.owner.id %}
            <div class="row form-group">
                <div class="col-xs-3">
                    <input type="number" name="amount" id="ingredient-amount" class="form-control" placeholder="2.5" tabindex="1">
                </div>
                <div class="col-xs-6">
                    <input type="text" name="title" id="ingredient-title" class="form-control" placeholder="dl melk" tabindex="2" autocapitalize="none">
                </div>
                <div class="col-xs-3">
                    <button type="button" id='add-ingredient-button' class="form-control btn btn-success" tabindex="3">Legg til</button>
                </div>
            </div>
            {% endif %}

            <div class="modal fade" id="ingredients-plain-text-modal" tabindex="-1" role="dialog" aria-labelledby="ingredient-text" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Lukk</span></button>
                    <h4 class="modal-title" id="myModalLabel">Kopier tekst</h4>
                  </div>
                  <div class="modal-body">
                      <textarea id="ingredients-plain-text-textarea" class="form-control" rows="{{ ingredients|length }}">
{% for ingredient in ingredients %}{{ ingredient.amount_formatted }} {{ ingredient.title }}
{% endfor %}</textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                  </div>
                </div>
              </div>
            </div>
