{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">Oppskrifter</h1>

  <p>
  <a href="{% url 'create_recipe' %}">
    <button type="button" class="btn btn-primary js-create-recipe">
      <span class="glyphicon glyphicon-plus"></span>
      Ny oppskrift
    </button>
  </a>
  </p>
  <div class="table-responsive">
      <table class="table" id="recipe-table">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Tid</th>
                  <th>Porsjoner</th>
                  <th>Vanskelighetsgrad</th>
              </tr>
          </thead>
          <tbody>
              {% for recipe in recipes %}
              <tr>
                  <td>{{ recipe.id }}</td>
                  <td><a href="{% url 'recipe' recipe_id=recipe.id %}">{{ recipe.title }}</a></td>
                  <td>{{ recipe.duration }} min</td>
                  <td>{{ recipe.people }} stk</td>
                  <td>{{ recipe.get_level_display }}</td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="7" class="text-center bg-warning">Ingen oppskrifter</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
   </div>

{% endblock %}
