            <h3>Ingredienser</h3>
            <ul class="list-group">
            {% for ingredient in ingredients %}
              <li class="list-group-item">{{ ingredient.amount }} {{ ingredient.title }} <span class="badge remove-button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span></li>
            {% empty %}
            <li class="list-group-item">Her mangler det litt…</li>
            {% endfor %}
            </ul>
            <div class="row form-group">
                <div class="col-xs-3">
                    <input type="number" name="amount" id="ingredient-amount" class="form-control" placeholder="2.5">
                </div>
                <div class="col-xs-6">
                    <input type="text" name="title" id="ingredient-title" class="form-control" placeholder="dl melk">
                </div>
                <div class="col-xs-3">
                    <button type="button" id='add-ingredient-button' class="form-control btn btn-success">Legg til</button>
                </div>
            </div>
