img#logo {
    width:3em;
    margin: 3px 1em 0px 5px; /** top right bot left **/
    float:left;
}

#bootstrap-override h1 {
    margin:15px 0 20px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */

  padding: 1rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}


.label-outline {
    color: black !important;
    border: 1px solid #999;
    background-color: transparent;
}
