img#logo {
    width:3em;
    margin: 3px 1em 0px 5px; /** top right bot left **/
    float:left;
}

/*
 * Footer
 */

.footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.footer p:last-child {
  margin-bottom: 0;
}

