/*
 * From https://v4-alpha.getbootstrap.com/examples/blog/
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

h1 {
    padding-bottom:5px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 80rem;
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.wiki-sidebar {
  background-color: #f8f8f8;
  margin-top: 58px;
 }
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.internal-link {
    color: #080;
}

#wiki-node-footer {
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
