<div data-id={{ note.id }} class="note list-group-item">
    <div class="note-preview clearfix note-modal-click-area"
         data-formated-due="{{ note.formated_due }}"
         data-text="{{ note.text }}"
         data-listid="{{ note.listid }}"
         data-noteid="{{ note.id }}"
         data-formated-text="{{ note.formated_text }}">

        <div class="pull-right btn-group btn-group-xs" role="group" aria-label="...">
            <!--<button type="button" class="btn btn-default">Flytt</button>-->
            <button type="button" class="btn btn-default mark-as-done"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
        </div>
        <span class="label label-outline">{{ note.age }}</span>
        {% if note.formated_due %}
            {% if note.overdue %}
                <span class="label label-danger">{{ note.formated_due }}&nbsp;</span>
            {% else %}
                <span class="label label-primary">{{ note.formated_due }}&nbsp;</span>
            {% endif %}
        {% endif %}
        {% for tags in note.hashtags %}
        <a href="{% url 'todo' %}?query=%23{{ tags }}"><span class="label label-info">#{{ tags }}&nbsp;</span></a>
        {% endfor %}
        {{ note.preview }}
        {% if note.image %}
         <div id="note-image-thumbnail" class="text-center clearfix">
          <img src="{{ note.image.url }}" class="img-thumbnail img-responsive" width="40%" />
         </div>
        {% endif %}
    </div>
</div>
