{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'css/wiki.css' %}" rel="stylesheet">
<div class="container">

      <div class="row">

        <div class="col-sm-8 node-content">
          {% block node-content %}
          {% endblock %}
        </div><!-- /.node-content -->

        <div class="col-sm-3 offset-sm-1 wiki-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Wiki</h4>
            <p>Før fantet det en enkel <a href="https://wiki.lekvam.no">DokuWiki</a> her. Det var
            helt til Lekvam Corp dro igang et <a href="https://github.com/torvald/lekvam.no">Django-prosjekt</a>. Appen du ser her
            er en fattigmanns DokuWiki-parser som bruker den gamle wikien som
            backend.</p>
          </div>
          <div class="sidebar-module">
            <h4>Siste endringer</h4>
            <ol class="list-unstyled">
                {% for item in last_edits %}
                <li><a href="{{item.slug}}">{{item.date}} - {{item.title}}</a></li>
                {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Et klikk verdig</h4>
            <ol class="list-unstyled">
              <li><a href="http://www.strandhistorie.no/">Strand Historielag</a></li>
              <li><a href="http://www.kontorbloggen.no/">Kontorbloggen</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Tilfeldig bilde fra galleriet</h4>
            <a href="{{ random_image.album_url }}">
              <img class="img-thumbnail" alt="{{ random_image.title }} fra {{ random_image.album }}" src="{{ random_image.url }}"/>
            </a>
            <div>
                <a href="{{ random_image.album_url }}">{{ random_image.album }}</a>
                (<i>{{ random_image.title }} av {{random_image.takenby}}</i>)
            </div>
          </div>
          <div class="sidebar-module">
              <script src="https://www.yr.no/sted/Norge/Rogaland/Strand/Lekvam/ekstern_boks_stripe.js"></script><noscript><a href="https://www.yr.no/sted/Norge/Rogaland/Strand/Lekvam/">yr.no: Værvarsel for Lekvam</a></noscript>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

</div>
{% endblock %}


