{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'css/wiki.css' %}" rel="stylesheet">

      <div class="row">

        <div class="col-sm-8 node-content">
          {% block node-content %}
          {% endblock %}
        </div><!-- /.node-content -->

        <div class="col-sm-3 offset-sm-1 wiki-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Wiki</h4>
            <p>Før fantet det en enkel <a href="">DokuWiki</a> her. Det var
            helt til Lekvam Corp dro igang et Django-prosjekt. Appen du ser her
            er en fattigmanns DokuWiki-parser som bruker den gamle wikien som
            backend.</p>
          </div>
          <div class="sidebar-module">
            <h4>Siste endringer</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Et klikk verdig</h4>
            <ol class="list-unstyled">
              <li><a href="http://www.strandhistorie.no/">Strand Historielag</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Tilfeldig bilde fra galleriet</h4>
            <a href="">
              <img class="img-thumbnail" alt="{{ random_image.title }}</i> fra {{ random_image.album }}" src="{{ random_image.url }}"/>
            </a>
            <div><i>{{ random_image.title }}</i> fra <a href="{{ random_image.album_url }}">{{ random_image.album }}</a></div>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->


{% endblock %}


