{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
        <h1 class="page-header">Lekvam Live</h1>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-1">
            <p class="pull-right">Venstre</p>
        </div>
        <div class="col-md-4">
            <div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="x-slider"><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 44.4444%;"></span></div>
        </div>
        <div class="col-md-4">
            Høyre
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="pull-right ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all" id="y-slider"><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="bottom: 49.4949%;"></span></div>
        </div>
        <div id="latest" class="col-md-4">
            <img src="https://webcam.lekvam.no/latest_thumb.jpg">
        </div>
        <div id="log" class="col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <button type="button" id="take-picture" class="btn btn-success">Knips!</button> <img src="https://webcam.lekvam.no/ajax-loader.gif" id="loadingbar" style="display: none;">
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <hr>
      <div class="container">
        <p>En Raspberry Pi med kameramodul på en servostyrt pan/tilt-brakett. Står i vinduet på kvisten på Lekvam. Les mer om prosjektet på wikien.</p>
        <p><a class="btn btn-primary btn-lg" href="https://lekvam.no/wiki/raspbicam" role="button">Gå til wikien »</a></p>
      </div>


</div>
  
<script src="{% static 'js/webcam-live.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/webcam-live.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

{% endblock %}
