{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="page-header">Panoramas</h1>
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date' id='datepicker'>
                    <input type='text' class="form-control" value="{{ from_date }}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'js/webcam-pano.js' %}"></script>
        <link href="{% static 'css/bootstrap-datepicker3.css' %}" type="text/css" rel="stylesheet">
        <div class='col-sm-3'>
            <a href="{% url 'webcam_pano_date' date=yesterday %}" class="btn btn-info" role="button">I går</a>
            <a href="{% url 'webcam_pano_date' date=one_year_ago %}" class="btn btn-info" role="button">Ett år siden</a>
        </div>
    </div>

  <table class="table" id="recipe-table">
    <tbody>
      {% for img in images %}
        <tr>
          <td>
            <img width="100%" src="https://utedo.lekvam.no/pano/{{ img.filename }}"/>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            {{ img.desc }}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">Ingen bilder</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
