/*
 * Override Bootstrap's default container.
 */

#add-note {
    margin-bottom:3px;
}

#note-text {
    margin-bottom:3px;
}

.note-preview {
    word-wrap:break-word;
}

.todo-search {
    margin-top:0px;
}

#help-text {
    display:none;
}

.sortable {
    /** to have somehing to drop elements into **/
    padding-bottom:30px;
}

.container-fluid {
    max-width:1800px;
}

.note {
    min-height:3em;
}

#note-image-thumbnail {
    margin-top:6px;
}
